:root {
  --ifm-color-primary: #34aae5;
  --ifm-color-primary-dark: #1d9fe0;
  --ifm-color-primary-darker: #1b96d4;
  --ifm-color-primary-darkest: #167cae;
  --ifm-color-primary-light: #4db4e8;
  --ifm-color-primary-lighter: #59baea;
  --ifm-color-primary-lightest: #7fc9ef;
}

.navbar__logo {
  margin-top: -0.12rem;
}

.navbar__toggle {
  margin-right: 1rem;
}

.footer__links {
  margin-bottom: 2rem;
}

.footer__logo {
  max-width: 3.2rem;
}

.footer__copyright {
  margin-top: 0.8rem;
}
